{% extends 'base.html' %}



{% block category %}
<div class="category__item--products category__header">Categories</div>
{% for main_category in main_categorys %}
<div class="category__item--products main_category">
    <p class="main_category_title">{{ main_category.title }}</p>


    {% for bookcategory in main_category.bookcategories.all %}
    <a href="{{ bookcategory.get_absolute_url }}" class="item__link">
        <p
            class="category__item--products under_category {% if request.path == bookcategory.get_absolute_url %} active {% endif %}">
            {{ bookcategory.title }} ({{ bookcategory.get_books_count }})</p>
    </a>

    {% endfor %}
</div>
{% endfor %}
{% endblock category %}


{% block products %}

{% for book in page_obj %}
{% include 'bookapp/include/book_card.html' %}
{% endfor %}


{% endblock products %}