{% extends 'bookapp/base_bookapp.html' %}

{% block nav_categorys %}
<div class="container container--nav">
    <nav class="nav__category">
        {% for special_category in special_categorys %}
        <a class="category__item" href="{{ special_category.get_absolute_url }}">{{ special_category.title }}</a>
        {% endfor %}
    </nav>
</div>
{% endblock nav_categorys %}


{% block promotions_titles %}
{% if is_it_special %}
    <nav class="promotions">
        <div class="promotion__category">
        <div class="promotion__item active">{{ special_category }}</div>
        </div>
    </nav>
{% endif %}
{% endblock promotions_titles %}


{% block sliders %}
<section class="section--slider">
    <div class="container container--slider">
        <div class="slider"></div>
        <div class="deal_of_mouth"></div>
    </div>
</section>
{% endblock sliders %}