.wish_card--container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.wish_card_link {
    text-align: center;
    margin-bottom: 4px;
    width: 100%;
    font-size: 19px;
    font-weight: bold;
    color: #696969;
}

.wish_card_link.active {
    background-color: #bbd5af;
    color: white;
}


table {
    border-collapse: collapse;
    width: 100%;
  }

td, th {
    padding: 10px;
    text-align: center;
    width: 16.6%;
    height: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.table_img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 100px;
    width: auto;
}

.qty_input {
    max-width: 25%;
    margin: 0 auto;
}

.th_remove {
    background: rgba(200,0, 0, 0.5);
    color: white;
}

.td_remove {
    color:rgba(200,0, 0, 0.5);
}

.buttons_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 10px 0 0;
}

.final_params {
    font-size: 20px;
}

.final_result {
    font-size: 20px;
    font-weight: bold;
}

.block_products {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkout {
    color: white;
    text-decoration: none;
    padding: 3px;
    background: #3a3a3a;
    border-radius: 5px;
    font-size: 20px;
}

.checkout:hover {
    background: white;
    color: black;
}

.change_button {
    background: #bbd5af;
    color: white;
    border: none;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 5px;
}

.change_button:hover {
    background: white;
    color: black;
}

.account_form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    text-align: center;
    font-size: 20px;
    border: 3px solid #bbd5af;
    border-radius: 10px;
    /* margin-bottom: 10px; */
    padding: 2px 0;
}

.form-control:focus {
    border: 1px solid #434345;
    color: white;
    background: #bbd5af;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

label {
    font-size: 15px;
    color: grey;
    font-style: italic;
}

.submit_button {
    color: white;
    background: #bbd5af;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 15px;
}

.submit_button:hover {
    border: 1px solid #434345; 
}

.account_image {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}


.product__item {
    position: relative;
}

.delete_button {
    position: absolute;
    right: 0;
    top: 0;
    color: rgba(200,0, 0, 0.5);
}

.empty_cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.cart_is_empty {
    color: #696969;
}

.link_to_mainpage {
    font-style: italic;
    font-size: 15px;
    color: #bbd5af;
}

.cart_form {
    margin-top: -21px;
}


.textarea.form-control {
    resize: none;
}

/* checkouts page */

.product_items {
    flex-direction: column;
}

.checkout_item_wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.checkout_label {
    font-style: italic;
}

.checkout_item {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #bbd5af; 
    padding: 10px 0;
}

.checkout_item_wrapper.hidden .checkout_item_fullinfo {
    display: none;
}

.checkout_title {
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

.checkout_title_td {
    border: 1px solid #bbd5af;
    color: #696969;
    font-size: 20px;
    font-weight: bold;
}

.checkout_value_td {
    background: #bbd5af;
    color: white;
    font-style: italic;
    font-size: 20px;
    border: 1px solid white;
}

.checkout_value_td.price {
    background: white;
    color: #696969;
    font-weight: bold;
    border-bottom: 1px solid #bbd5af;
}





