{% extends 'bookapp/account_page/account_page_base.html' %}
{% load crispy_forms_tags %}


{% block products %}
<div class="block_products">
    {% if cart_products %}
    <form action="{% url 'recalc_cart' %}" method="POST" class="cart_form">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Final price</th>
                    <th class="th_remove">Remove</th>
                </tr>
            </thead>
            <tbody>
                    
                {% for cart_product in cart_products %}
                <tr>
                    <td class="table_td">
                        <img class="table_img" src="{{ cart_product.book.image.url }}" alt="">
                    </td>
                    <td>{{ cart_product.book.title }}</td>
                    <td>{{ cart_product.book.price }}</td>
                    <td><input class="qty_input" type="number" value="{{ cart_product.qty }}" min="1" max="20"
                            name="{{ cart_product.id }}"></td>
                    <td>{{ cart_product.final_price }}$</td>
                    <td><a href="{% url 'remove_from_cart' cart_product.id %}" class="td_remove">&#10006;</a></td>
                </tr>
                {% endfor %}
                <tr>             
                    <td colspan="3"></td>   
                    <td class="final_params">Final Qty: <span class="final_result">{{ cart_final_qty }}</span></td>
                    <td class="final_params">Final Price: <span class="final_result">{{ cart_final_price }}$</span></td>
                    <td></td> 
                </tr>
            </tbody>
        </table>
        <div class="buttons_wrapper">
            <button type="submit" class="change_button">Save changes</button>
        </div>
    </form>

    <form action="{% url 'checkout' %}" method="POST">
        {% csrf_token %}
        
        {% if checkout_form.errors %}
            {{ checkout_form.errors }}
        {% endif %}
            
        {{ checkout_form|crispy }}    
        <div class="buttons_wrapper">
            <button type="submit" class="checkout">Checkout</button>
        </div>
    </form>

    {% else %}
    <div class="empty_cart">
        <h1 class="cart_is_empty">Cart is empty...</h1>
        <a class="link_to_mainpage" href="{% url 'main_page' %}">main page</a>
    </div>

    {% endif %}

</div>
{% endblock products %}