{% extends 'bookapp/account_page/account_page_base.html' %}
{% load static %}


{% block products %}

{% if books %}
{% for book in books %}
<div class="product__item">
    <a href="{{ book.get_absolute_url }}" class="image"><img src="{{ book.image.url }}" class='book_image_django'
            alt=""></a>
    <div class="product__title">{{ book.title }}</div>
    <div class="product__price">{{ book.price }}$</div>
    <a href="{% url 'delete_from_wish' book.slug %}" class="delete_button">&#10006;</a>
</div>
{% endfor %}
{% else %}
<div class="empty_cart">
    <h1 class="cart_is_empty">Wishlist is empty...</h1>
    <a class="link_to_mainpage" href="{% url 'main_page' %}">main page</a>
</div>
{% endif %}


{% endblock products %}