{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1844b7619b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href='{% static  "css/main_page.css" %}'>
    <title>Document</title>
</head>

<body>

    <header>
        <div class="header--bg">
            <div class="container container--header">
                <div class="header__item">Sign in</div>
                <div class="header__item">My account</div>
                <div class="header__item">Order status</div>
                <div class="header__item">Help</div>
            </div>
        </div>
    </header>

    <div class="search__section">
        <div class="container container--search">
            <div class="logo">
                <a href="{% url 'main_page' %}">
                    <h1>Logo</h1>
                </a>

            </div>
            <div class="search">
                <input type="text" class="search_input">
                <a href="" class="search__button"><i class="fas fa-search"></i>Search</a>
            </div>
            <div class="cart">
                <div class="row">
                    <i class="fas fa-shopping-cart"></i>
                    <p class="your_cart">Your cart <span class="qty_items">(2 items)</span></p>
                </div>
                <div class="row">
                    <div class="summary_price">$125.0</div>
                    <a href="#" class="checkout">Checkout</a>
                </div>
            </div>
            <div class="vert_line"></div>
            <div class="wish_list">
                <i class="fas fa-star"></i>
                <div class="list">Wish list</div>
                <div class="qty_notification">20</div>
            </div>
        </div>
    </div>

    {% block nav_categorys %}

    {% endblock nav_categorys %}


    <!-- начало меин контента -->
    {% block main_content %}
    
    {% block sliders %}
        
    {% endblock sliders %}
        


    <section class="products">
        <div class="container container--products">
            <div class="block__category">
                <div class="category__item--products category__header">Categories</div>
               

                {% block category %}
                <div class="category__item--products main_category">
                    <p class="main_category_title">Fiction & Literature</p>
                    <div class="category__item--products under_category">Children</div>
                    <div class="category__item--products under_category">Science</div>
                    <div class="category__item--products under_category">Fantazy</div>
                    <div class="category__item--products under_category">Mystery</div>
                </div>
                <div class="category__item--products main_category">
                    <p class="main_category_title">Fiction & Literature</p>
                    <div class="category__item--products under_category">Children</div>
                    <div class="category__item--products under_category">Science</div>
                    <div class="category__item--products under_category">Fantazy</div>
                    <div class="category__item--products under_category">Mystery</div>
                </div>
                <div class="category__item--products main_category">
                    <p class="main_category_title">Fiction & Literature</p>
                    <div class="category__item--products under_category">Children</div>
                    <div class="category__item--products under_category">Science</div>
                    <div class="category__item--products under_category">Fantazy</div>
                    <div class="category__item--products under_category">Mystery</div>
                </div>
                {% endblock category %}

            </div> <!-- block category -->


            <div class="block__main">
                
                {% block promotions_titles %}

                {% endblock promotions_titles %}

                <div class="product_items_wrapper">
                    <div class="product_items">
                        {% block products %}
                        <div class="product__item">
                            <div class="image"></div>
                            <div class="product__title">The Hare With Amber Eyes</div>
                            <div class="product__price">50$</div>
                        </div>
                        <div class="product__item">
                            <div class="image"></div>
                            <div class="product__title">The Hare With Amber Eyes</div>
                            <div class="product__price">50$</div>
                        </div>
                        <div class="product__item">
                            <div class="image"></div>
                            <div class="product__title">The Hare With Amber Eyes</div>
                            <div class="product__price">50$</div>
                        </div>
                        <div class="product__item">
                            <div class="image"></div>
                            <div class="product__title">The Hare With Amber Eyes</div>
                            <div class="product__price">50$</div>
                        </div>
                        <div class="product__item">
                            <div class="image"></div>
                            <div class="product__title">The Hare With Amber Eyes</div>
                            <div class="product__price">50$</div>
                        </div>
                        {% endblock products %}
                    </div>

                    {% block pagination %}
                    {% if is_paginated %}
                    <div class="pages">

                        {% if page_obj.has_previous %}
                        <a class='page__item' href="?page={{ page_obj.previous_page_number }}">&#8592;</a>
                        {% endif %}

                        <!-- paginator.page_range = range(1, 3) это просто числа, а не список объектов -->
                        {% for page in paginator.page_range %}
                        {% if page_obj.number == page %}
                        <a class="page__item active" href="?page={{ page }}">{{ page }}</a>
                        {% else %}
                        <a class="page__item" href="?page={{ page }}">{{ page }}</a>
                        {% endif %}
                        {% endfor %}


                        {% if page_obj.has_next %}
                        <a class='page__item' href="?page={{ page_obj.next_page_number }}">&#8594;</a>
                        {% endif %}


                    </div>
                    {% endif %}
                    {% endblock pagination %}
                </div>
            </div> <!-- block main -->


        </div>
    </section>

    {% endblock main_content %}
    <!-- конец меин контента -->
    <footer class="footer">
        <div class="container container--footer">
            <div class="footer_text">footer</div>
        </div>
    </footer>




</body>

</html>