{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/58058dd1eb.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href='{% static  "css/main_page.css" %}'>
    {% block css %}
    {% endblock css %}

    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div class="content">
            <header>
                <div class="header--bg">
                    <div class="container container--header">
                        {% if user.is_authenticated %}
                        <a href="{% url 'my_account_page' %}" class="header__item">My account</a>
                        <a class="header__item" href="{% url 'checkouts_page' %}">Order status</a>
                        <a class="header__item" href="{% url 'logout' %}">Log out</a>
                        <p class="header__item">Signed in as <span class="username">@{{request.user.username}}</span></p>
                        {% else %}
                        <a class="header__item" href="{% url 'login' %}">Sign in</a>
                        {% endif %}
                    </div>
                </div>
            </header>

            
            <div class="search__section">
                <div class="container container--search">
                    <div class="logo">
                        <a href="{% url 'main_page' %}">
                            <h1>Logo</h1>
                        </a>
                    </div>
                    <div class="search">
                        <form action="{% url 'search' %}" method="post" class="search_form">
                            {% csrf_token %}
                            <input type="text" class="search_input" name="search" minlength="2" placeholder="search...">
                            <button class="search__button" type="submit"><i class="fas fa-search"></i>Search</button>
                        </form>
                    </div>
                    <div class="cart">
                        <div class="row">
                            <a href="{% url 'cart_page' %}"><i class="fas fa-shopping-cart"></i></a>
                            <p class="your_cart">Your cart <span class="qty_items">({{ cart|length }} items)</span></p>
                        </div>
                        <div class="row">
                            <div class="summary_price">
                                {% if request.user.is_authenticated %}
                                {{ cart_final_price }}
                                {% else %}
                                0
                                {% endif %}
                                $</div>
                            <a href="{% url 'cart_page' %}" class="checkout">Checkout</a>
                        </div>
                    </div>
                    <div class="vert_line"></div>
                    <div class="wish_list">
                        <a href="{% url 'wish_page' %}"><i class="fas fa-star"></i></a>
                        <div class="list">Wish list</div>
                        <div class="qty_notification">
                            {% if request.user.is_authenticated %}
                            {{ wishlist|length }}
                            {% else %}
                            0
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div{% if message.tags %} class="message_{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}

            {% block nav_categorys %}

            {% endblock nav_categorys %}


            <!-- начало меин контента -->
            {% block main_content %}

            {% block sliders %}

            {% endblock sliders %}



            <section class="products">
                <div class="container container--products">
                    <div class="block__category">
                        {% block category %}

                        {% endblock category %}

                    </div> <!-- block category -->


                    <div class="block__main">

                        {% block promotions_titles %}

                        {% endblock promotions_titles %}

                        <div class="product_items_wrapper">
                            <div class="product_items">

                                {% block products %}
                                {% endblock products %}
                            </div>

                            {% block pagination %}
                            {% if is_paginated %}
                            {% include 'bookapp/include/pagination.html' %}
                            {% endif %}
                            {% endblock pagination %}
                        </div>
                    </div> <!-- block main -->


                </div>
            </section>
            {% endblock main_content %}
            <!-- конец меин контента -->
        </div>
        <footer class="footer">
            <div class="container container--footer">
                <div class="footer_text">footer</div>
            </div>
        </footer>
    </div>


    {% block js %}

    {% endblock js %}


</body>

</html>